.exp-block{
  background-size: cover;
  padding-top:50px;
  padding-bottom: 50px;
  background-image: url(#{$img-path}ex-bg.jpg);
  .wrapper{
    .items{
      @include row-flex();
      justify-content: center;
      .item{
        @include col();
        @include size(3);
        @include size-xs(12);
        text-align: center;
        .name{
          color: $color-secondary;
          font-size: 1.5rem;
          font-size: 100;
          margin-bottom: 5px;
        }
        .descr{
          font-size: 1.1rem;
          font-weight: 300;
          line-height: 1.5rem;
        }
      }
    }
  }
}
