.footer{
  background-color: #f2feff;
  min-height: $footer-height;
  .footer-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: $footer-height;
    font-size: 13px;
    line-height: 1.2rem;
    color: #a6b9ca;
    @include breakpoint(max-width 670px){
      display: block;
      height: auto;
      text-align: center;
      padding-top: 10px;
      >*{
        padding-bottom: 10px;
      }
    }

    a{
      color: #a6b9ca;
      transition: color 0.3s;
      &:hover{
        color: $color-link-hover;
      }
    }
  }
  .soc-link{
    i{
      display: inline-block;
      margin-left: 2px;
      margin-right: 2px;
    }
    .ic-vk{
      @include sprite($ic-vk);
      &:hover{
        @include sprite($ic-vk-hover);
      }
    }
    .ic-fb{
      @include sprite($ic-fb);
      &:hover{
        @include sprite($ic-fb-hover);
      }
    }
    .ic-inst{
      @include sprite($ic-inst);
      &:hover{
        @include sprite($ic-inst-hover);
      }
    }
  }
}
