<div class="wrapper">
    <div class="footer-row">
      <div class="left-item pact-text">
        Пластический и челюстно-лицевой хирург<br>
        Бегдан Марина Владимировна<br>
        Лицензия № ЛО-123459875986 от 01.09.2017
      </div>
      <div class="center-item soc-link">
        <a href="#" title="vk"><i class="ic-vk"></i></a>
        <a href="#" title="fb"><i class="ic-fb"></i></a>
        <a href="#" title="instagram"><i class="ic-inst"></i></a>
      </div>
      <div class="right-item dev-link">
        Разработка сайта <a href="#" title="">Интеллект-сервис</a>
      </div>
    </div>
</div>
